<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body class="container mt-4">

<h2 class="text-center mb-3">Student Performance Analyzer</h2>

<form method="POST" enctype="multipart/form-data" class="mb-4">
    <input type="file" name="file" class="form-control" required>
    <button class="btn btn-success mt-2">Upload CSV</button>
</form>

{% if table %}
<h4>Student Marks</h4>
{{ table | safe }}

<h4 class="mt-4">Student Performance Analysis</h4>
<ul>
    {% for a in analysis %}
    <li>
        <b>{{ a.subject }}</b> :
        Average = {{ a.average }},
        Highest = {{ a.highest }} ({{ a.topper }}),
        Lowest = {{ a.lowest }}
    </li>
    {% endfor %}
</ul>
{% endif %}

</body>
</html>
